body{
    margin-top: 30vh;
    background-color: whitesmoke;
}
section {
    text-align: center;
}
form {
    min-width: 300px;
    max-width: 20%;
    margin: auto;
}
input {
    padding: 1em;
}
#btnSubmit {
    border: solid 1px #dddddd;
    background-color: darkorchid;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    color: white;
    cursor: pointer;
}
#btnSubmit:hover {
    background-color: #86f774;
    color:black;
}
#txtpassword {
    border: solid 1px #dddddd;
    width: 100%;
    box-sizing: border-box;
}
#txtUsername {
    border: solid 1px #dddddd;
    width: 100%;
    box-sizing: border-box;
}